<clr-datagrid id="datagrid" [(clrDgSelected)]="selected" [clrDgRowSelection]="true">

    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" [disabled]="selected?.length == 0" (click)="analyze()"><clr-icon shape="pencil"></clr-icon>Analysieren</button>
        </div>
    </clr-dg-action-bar>

    <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>

    <clr-dg-row *clrDgItems="let link of daten" [clrDgItem]="link" [clrDgSelectable]="locked(link)" (click)="getDownloadLink(link)">
        <clr-dg-cell>{{link.id+1}}</clr-dg-cell>
        <clr-dg-cell>{{link.title}}</clr-dg-cell>

        <clr-dg-row-detail *clrIfExpanded>
            <ng-container ngProjectAs="clr-dg-row-detail" *ngIf="selected.includes(link)">
                <clr-dg-row-detail *clrIfExpanded>
                    <div class="detail">
                        <div *ngFor="let l of link.detail" > 
                            <div *ngIf="l.type === 'CSV'">
                                {{l.title}} Type: {{l.type}}
                            </div>
                        </div>
                    </div>
                    
                </clr-dg-row-detail>
              </ng-container>
        </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="50">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Daten pro Seite</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Einträge
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>