#datagrid{
    float: right;
    margin-right: 5vw;
    width: 70vw;
}

.detail{
    display: flex;
    flex-direction: column;
}

.clr-form-control {
    margin-top: 0;
    margin-left: 5vw;
}

#searchContainer, #searchInput {
    width: 50vw;
}

#topics {
}

.clr-row {
    float: left;
    width: 15vw;
    margin-left: 5vw;
    margin-right: 0;
    padding: 0;
}

.innercard {
    width: 100%;
}