
<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12" class="innercard">
        <div class="card">
            <div class="card-header">
            Themen
            </div>
            <div class="card-block">
                <div class="card-text">
                    <a *ngFor="let t of topics; let i = index" (click)="getTopicData(i)" class="topics"> {{ t[0] }} <br></a>
                </div>
            </div>
        </div>
    </div>
</div>
<clr-datagrid id="datagrid">

    <clr-dg-action-bar>
        <div class="btn-group">
            <!--<clr-icon shape="search"></clr-icon>-->
            <clr-input-container id="searchContainer">
                <label class="clr-sr-only">Suchen</label>
                <input type="text" name="search" id="searchInput" clrInput placeholder="Suchen" [(ngModel)]="searchString" />
            </clr-input-container>
        </div>
    </clr-dg-action-bar>

    <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>

    <clr-dg-row *clrDgItems="let link of getSearchedData()" [clrDgItem]="link">
        <clr-dg-cell>{{link.id+1}}</clr-dg-cell>
        <clr-dg-cell>{{link.title}}</clr-dg-cell>

        <clr-dg-row-detail *clrIfExpanded> 
            <ng-container ngProjectAs="clr-dg-row-detail">
                <data-detail *clrIfExpanded [link]="link" ngProjectAs="clr-dg-row-detail"></data-detail>
                <!--<clr-dg-row-detail *clrIfExpanded>
                    <div class="detail">
                        <clr-checkbox-container>

                            <clr-checkbox-wrapper *ngFor="let l of link.detail">
                              <input type="checkbox" clrCheckbox name="options" [value]="l.link" [(ngModel)]="l.selected" />
                              <label>{{l.title}} Type: {{l.type}}</label>
                            </clr-checkbox-wrapper>

                            
                            <clr-control-helper>Helper text</clr-control-helper>
                            <clr-control-error>This field is required!</clr-control-error>
                          </clr-checkbox-container>
                          <button (click)="showSelected(l.detail)"></button>
                        <div *ngFor="let l of link.detail" >
                            <div *ngIf="l.type === 'CSV'">
                                {{l.title}} Type: {{l.type}}
                            </div>
                        </div>
                    </div>

                </clr-dg-row-detail>-->
                </ng-container>
        </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="50">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Daten pro Seite</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Einträge
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
