<clr-datagrid>
    <clr-dg-column>Upvote</clr-dg-column>
    <clr-dg-column>Downvote</clr-dg-column>
    <clr-dg-column [clrDgField]="'Rating'" [clrDgColType]="'number'">Rating</clr-dg-column>
    <clr-dg-column>Username</clr-dg-column>
    <clr-dg-column>Titel</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>
    <clr-dg-column>errorRate</clr-dg-column>
    <clr-dg-column></clr-dg-column>

    <clr-dg-row *clrDgItems="let statistic of data.statistics; let id = index">
        
    
    <clr-dg-cell><button (click)="cacheId(statistic.id,1)"><clr-icon shape="thumbs-up" class="is-solid" ></clr-icon></button></clr-dg-cell>
    <clr-dg-cell><button (click)="cacheId(statistic.id,-1)"><clr-icon shape="thumbs-down" class="is-solid" ></clr-icon></button></clr-dg-cell>
        <clr-dg-cell>{{statistic.Rating}}</clr-dg-cell>
        <clr-dg-cell>{{statistic.username}}</clr-dg-cell>
        <clr-dg-cell>{{statistic.title}}</clr-dg-cell>
        <clr-dg-cell>{{statistic.description}}</clr-dg-cell>
        <clr-dg-cell>{{statistic.errorRate}}</clr-dg-cell>
        <clr-dg-cell><button class="btn btn-success" (click)="saveForArticle(statistic)"[routerLink]="['/article']">Show</button></clr-dg-cell>
     
       
    
    </clr-dg-row>
    

    <!--<clr-dg-footer>{{users.length}} users</clr-dg-footer>-->
</clr-datagrid>