<div id="homeTop">
    <video autoplay muted loop id="myVideo">
        <source src="../../../assets/background.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div id="hometext">
        <img src="../../../assets/Logo_Abgabe.png" height="100vw" id="logoHome">
        <div id="statsmartbig">Statsmart</div>
    </div>
</div>
<div id="homeMid">
    <p id="pHome">
        Statsmart ist ein Service der es dir ermöglicht aus mehr als 25.000 Datensätzen,
        Diagramme zu erstellen und zwischen den Daten die Korrelationen herausliest. Weiters
        gibt es die Möglichkeit, dass die Diagramme mit veröffentlicht werden, wo sie dann andere
        Benutzer Bewerten können wodurch besonders interessante Statistiken mehr aufmerksamkeit
        bekommen können.
    </p>
</div>
<footer>
    Contact us: <a href="">contact@statsmart.com</a>
</footer>

