<header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <!--<clr-icon shape="vm-bug"></clr-icon>-->
        <img src="../assets/Logo_Abgabe.png" height="70%" id="logoNav">
        <span class="title">Statsmart</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="" class="active nav-link nav-text"[routerLink]="['/home']">Home</a>
      <a href="" class="nav-link nav-text" [routerLink]="['/daten']">Daten</a>
      <a href="" class="nav-link nav-text" [routerLink]="['/profil']">Profil</a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon" aria-label="settings" [routerLink]="['/login']">
        <clr-icon shape="user"></clr-icon>
      </a>
    </div>
  </header>
  <router-outlet>
  </router-outlet>
